p, h1, h2, h3, h4, h5, h6, span {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
}
.wrap i {
  margin-bottom: 15px;
  font-size: 60px;
  color: #ddd;
}
.title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.desc {
  color: rgba(10,10,10,0.65);
  text-align: center;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .wrap {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .wrap {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  
}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
    /* ... */
  .wrap {
    max-width: 270px;
  }
}
