<section class="main-section">
  <div class="top-sec-wrap">
    <div class="bg-wrap-outer">
      <div class="bg-wrap-inner">
        <div class="bg-div"></div>
      </div>
    </div>
    <div class="shape-wrap">
      <svg class="nectar-shape" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300"
        preserveAspectRatio="none">
        <path
          d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z">
        </path>
        <path
          d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z">
        </path>
        <path
          d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z">
        </path>
      </svg>
    </div>
    <div class="motto-wrap">
      <div class="motto-inner">
        <div class="slideInUp animated">
          <p class="motto-text">Empowering great business, companies, organization and entrepreneurs to flourish.</p>
          <a routerLink="contact" class="main-discover" (click)="toProjects(projects)">
            <span>Contact Us Now</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="projects" #projects>
  <div class="projects-inner">
    <div class="project-wrap">
      <app-project color="rgb(52, 82, 255)" border="rgba(52, 82, 255, 0.75)" name="Security Management Software"
        link="WWW.THENEWSEC.COM" image="../../../assets/University-min.jpg" url="http://thenewsec.com/"
        description="Newsec is a secure and intelligent workplace solution designed to help any enterprise enhance safety, monitor and maximize productivity of its employees and improve visitors check-in experience with quality user experience. Setup in few minutes (No hardware needed) and access Real Time Dashboard, Visitor management, Employee timesheet and more. Visit the website for more.">
      </app-project>
    </div>
    <div class="project-wrap">
      <app-project color="rgb(46, 211, 151)" border="rgba(46, 211, 151, 0.75)" name="CodeCentre"
        link="WWW.CODECENTRE.COM" image="../../../assets/Employ-min.jpg" url="/"
        description="Codecentre is an online web application targeted at those who are just learning how to code. It is proven that when a person learns one language, it is easier for them to learn another language. We want to change how this is done. Most of the time some programming languages syntax are really similar so when a coder can do something in one programming language it will be better for them to see it done in multiple other languages for them to grasp the syntax of the other languages easily. It will also include rewards and problem/solution">
      </app-project>
    </div>
    <div class="project-wrap">
      <app-project color="rgb(255, 16, 83)" border="rgba(255, 16, 83, 0.75)" name="Music Data" link="WWW.MUSICDATA.COM"
        image="../../../assets/City-min.jpg" url="/"
        description="You might have Apple Music or Spotify, or maybe you downloaded your music online from some random website, we wont judge whichever one you have you love music and love various Artists. But is there a way to get more details to a song? Apart form googling the song or Artist. Some music app doesn’t even provide you the lyrics to the song you are listening to. Our Music App combines the functionality of Music Listening and data science to beautiful visualize the details of millions of song and to get more into any of your favorite Artist, or songs way of thinking even remix their song the way to would have remixed it themselves.">
      </app-project>
    </div>
  </div>
</section>
<section class="quote">
  <div class="quote-inner">
    <p>”</p>
    <p>I do not fear computers, I fear lack of them || Don’t document the problem, fix it.</p>
    <p>AJ ABDUL</p>
  </div>
</section>
<section class="services" #services id="services">
  <div class="services-inner">
    <div class="services-left">
      <p>We Offer Awesome Services.</p>
      <div class="gradient-border">
        <a href="#" routerLink="about">
          <span>More About Us</span>
          <i class="fas fa-long-arrow-alt-right"></i>
        </a>
      </div>
    </div>
    <div class="services-right">
      <div class="each-service">
        <app-service icon="fas fa-laptop-code" title="Application Lifecycle"
          description="This helps you develop, manage and modernize apps, to deliver digital services and boost business results.
              The lifecycle service goes through the design, development, testing, deployment, management and maintenance.">
        </app-service>
      </div>
      <div class="each-service">
        <app-service icon="fas fa-atlas" title="Web Development"
          description="From App Landing pages to a fully functional E-Commerce Website, we can get your website running in Minutes. Do you already have a website you want to update? we can help maintain it to your satisfaction.">
        </app-service>
      </div>
      <div class="each-service">
        <app-service icon="fab fa-app-store-ios" title="IOS/Android Development"
          description="Do you have an idea you have been thinking about? We can make that app for you and make your idea come to life. With your help we can make the app into the next Facebook or even the Next {your company name}.">
        </app-service>
      </div>
      <div class="each-service">
        <app-service icon="fas fa-user-tie" title="Consulting"
          description="Our consulting services helps uncover insights and trapped value within your organization, also guiding and accelerating you through your digital transformation journey.">
        </app-service>
      </div>
      <div class="each-service">
        <app-service icon="fas fa-calculator" title="Digital Business"
          description="Reimagine your business models by automating and streamlining your process to reduce cost, modernizing your products also optimizing customer experiences.">
        </app-service>
      </div>
      <div class="each-service">
        <app-service icon="fas fa-server" title="Technology Support"
          description="This service provides proactive and reactive support any point it is needed. We supports your application from the development phase till the deployment, management and maintenance phase.">
        </app-service>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="footer-card">
    <div class="card-inner">
      <!-- <div class="each-card">
        <app-footer-card color="#ff1053" title="Don't forget we blog too!" link="Read Our Posts" url="about">
        </app-footer-card>
      </div> -->
      <div class="each-card">
        <app-footer-card color="#3452ff" title="Ready to have a conversation?" link="Contact Us" url="contact">
        </app-footer-card>
      </div>
    </div>
  </div>
</section>