label {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  display: block;
  margin-bottom: 5px;
}
input {
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  background-color: #efefef;
  border: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset;
  transition: all 0.2s linear;
  outline: none;
  color: #555;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  letter-spacing: 1px;
  box-sizing: border-box;
}
textarea {
  padding: 10px;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  background-color: #efefef;
  border: 0px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.09) inset;
  transition: all 0.2s linear;
  outline: none;
  color: #555;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  letter-spacing: 1px;
  line-height: 22px;
  resize: vertical;
  box-sizing: border-box;
}
.success {
  background-color: rgb(232, 240, 254)
}