<section class="wrap">
  <app-dash-header></app-dash-header>
  <section class="dashboard">
    <div class="dash">
      <div class="dash-head">
        <div class="green-top">
          <p>Newsec Dashboard</p>
        </div>
      </div>
      <div class="dash-body">
        <div class="body-left">
          <img src="user.user && user.user.avatar ? user.user.avatar : ''" 
          class="profile-img" *ngIf="user.user && user.user.avatar">
          <div class="profile-img" *ngIf="!user.user || !user.user.avatar">
            <i class="far fa-building"></i>
          </div>
        </div>
        <div class="body-right">
          <p class="name">{{user.user && user.user.name}}</p>
          <p class="subtitle">
            {{user.user && user.user.location && user.user.location.city + ', ' + user.user.location.zip 
            + ', ' + user.user.location.country}}
          </p>
          <p class="member-count">{{user.members && user.members.length}} Members</p>
        </div>
      </div>
      <div class="tab-nav">
        <a>Members</a>
        <!-- <a>Signings</a> -->
      </div>
    </div>
  </section>
  <section class="board">
    <section class="board-inner">
      <app-members></app-members>
    </section>
  </section>
</section>