<div class="head" [ngClass]="{'small-header': small == 'small'}">
  <div class="head-fixed" [ngClass]="{'small-header': small == 'small'}">
    <div class="head-fixed-inner" [ngClass]="{'small-header': small == 'small'}">
      <div class="head-inner">
        <div class="logo">
          <a href="" routerLink="/newsec" [ngStyle]="{'color': navColor}">
            <img style="height: 35px;" src="../../../../assets/newsec-logo.png" alt="">
            <span>NEWSEC</span>
          </a>
        </div>
        <nav>
          <a href="" 
            routerLink="/newsec" 
            class="links" 
            [class.active]="this.route.url == '/newsec'"
            [ngStyle]="{'color': navColor == '#2ed397' ? '#212121' : navColor}">
            Home
          </a>
          <a 
            href="#" 
            class="links" 
            routerLink="contact" 
            [class.active]="this.route.url == '/newsec/contact'"
            [ngStyle]="{'color': navColor == '#2ed397' ? '#212121' : navColor}">
            Contact
          </a>
          <a 
            href="#" 
            class="links" 
            routerLink="/newsec/login" 
            [class.active]="this.route.url == '/newsec/login'"
            [ngStyle]="{'color': navColor == '#2ed397' ? '#212121' : navColor}">
            Login
          </a>
        </nav>
        <div class="menu-wrap">
          <div class="menu">
            <i class="fab fa-facebook-f" [ngStyle]="{'color': navColor}"></i>
          </div>
          <div class="menu">
            <i class="fab fa-instagram" [ngStyle]="{'color': navColor}"></i>
          </div>
            <div class="menu">
            <i class="fab fa-twitter" [ngStyle]="{'color': navColor}"></i>
          </div>
        </div>
        <div class="bars-wrap" (click)="toggleMenu()">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mobile-menu" *ngIf="menu">
  <a class="each-menu" routerLink="/newsec">Home</a>
  <a class="each-menu" routerLink="/newsec/login">Login</a>
  <a class="each-menu" routerLink="/newsec/contact">Contact Us</a>
  <a class="each-menu">Twitter</a>
  <a class="each-menu">Instagram</a>
  <!-- <a class="each-menu">Facebook</a> -->
</div>