<section class="member-box">
  <section class="upload-section">
    <p class="upload-txt">Add Members</p>
    <label for="upload" class="label">
      <i class="fas fa-cloud-upload-alt"></i>
    </label>
    <input type="file" id="upload" (change)="handleFile($event.target.files)" accept=".csv">
    <p class="instruction">
      Upload CSV file of members containing first name, surname and email in this format (firstName, surname, email).
    </p>
    <div class="example-wrap">
      <p class="example-title">Example of CSV file arrangement</p>
      <div class="example">
        <p>firstName,surname,email</p>
        <p>Vuitton,Nelson,nelsonvuitton@mail.com</p>
        <p>Broner,Whitefield,whitefield@mail.com</p>
      </div>
    </div>
  </section>
  <section class="modal" *ngIf="status !== ''">
    <div class="middle-box">
      <div class="middle-title">
        <p>{{status}}</p>
      </div>
      <div class="middle-load" *ngIf="status != 'SUCCESSFUL'">
        <img src="../../../../../assets/preloader.gif" alt="load" title="loader">
      </div>
      <div class="middle-done" *ngIf="status == 'SUCCESSFUL'">
        <ul>
          <li>Open the app dashboard, then refresh the members tab to see the added members.</li>
          <li>An email has been sent to all the members containing their login credentials.</li>
          <li>Members should download the app then, sign-in and update their profile and passwords.</li>
          <li>Members should check-in and out from the app on their phones.</li>
          <li>Members would recieve announcement on their phones as notifications.</li>
          <li>Members can see their check-in history and visitors history on the Newsec app.</li>
        </ul>
      </div>
      <div class="middle-footer">
        <button class="done-btn" *ngIf="status == 'SUCCESSFUL'" (click)="resetStatus()">DONE</button>
      </div>
    </div>
  </section>
  <notifier-container></notifier-container>
</section>
