<section>
  <div class="detail">
    <div class="detail-inner">
      <div class="left-detail fadeIn animated">
        <p>
          Empowering great business, companies, organization and entrepreneurs to flourish.
        </p>
        <p>
          Weandel helps client thrive by solving our client's toughest challenges.
          Providing them with unmatched services in technology & digital operations, 
          business operations, consulting and business strategy.
          We work hand-in-hand with our client to solve complex challenges, 
          in ways that maximize opportunities and minimizes business risks.
        </p>
      </div>
      <div class="right-detail">
        <div class="service-wrap" *ngFor="let item of this.data">
          <app-about-service [data]="item"></app-about-service>
        </div>
      </div>
    </div>
  </div>
  <div class="mission">
    <div class="mission-inner slideInUp animated">
      <p>Company Mission</p>
      <p>Empowering, connecting & taking people to their goals.</p>
    </div>
  </div>
  <div class="vision">
    <div class="vision-inner">
      <div class="left-vision">
        <div class="background">
          <p>SOLVING WORLD toughest CHALLENGES</p>
        </div>
      </div>
      <div class="right-vision">
        <h3>Company Values</h3>
        <div class="visions-wrap">
          <div class="each-vision" *ngFor="let vision of this.visions">
            <app-vision [title]="vision.title" [description]="vision.description"></app-vision>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>