section {
  transition: 0.3s;
  box-sizing: border-box;
}
.detail {
  transition: 0.3s;
  padding: 0px 90px;
  box-sizing: border-box;
  padding-bottom: 50px;
}
.detail-inner {
  transition: 0.3s;
  padding-top: 50px;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-detail {
  transition: 0.3s;
  width: 48%;
}
.right-detail {
  transition: 0.3s;
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.left-detail p:first-child {
  transition: 0.3s;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #1e83ec;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}
.left-detail p:nth-child(2) {
  transition: 0.3s;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
}
.service-wrap {
  transition: 0.3s;
  margin-bottom: 40px;
  width: 48%;
}
.mission {
  height: 400px;
  background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0, 0.7)), 
  url(../../../assets/about-two.jpg) 50% 0 repeat fixed;
  padding: 0px 90px;
}
.mission-inner {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mission-inner p {
  color: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.mission-inner p:first-child {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
.mission-inner p:nth-child(2) {
  font-size: 40.8px;
  line-height: 49.3px;
  font-weight: 700;
  width: 60%;
}
.vision {
  padding: 90px 90px;
}
.vision-inner {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-vision {
  width: 48%;
}
.right-vision {
  width: 48%;
}
.background {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 60px 135px rgba(0,0,0,0.14), 0 15px 65px rgba(0,0,0,0.14);
  height: 353px;
  background-image: url('../../../assets/vision-two.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}
.background p {
  color: #fff;
  font-size: 22px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 800;
  letter-spacing: 1px;
}
.right-vision h3 {
  color: #333;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.visions-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.each-vision {
  width: 45%;
  margin-bottom: 50px;
}


@media screen and (max-width: 1023px) {
  .detail-inner {
    flex-direction: column;
  }
  .left-detail {
    width: 100%;
    margin-bottom: 80px;
  }
  .right-detail {
    width: 100%;
  }
  .mission-inner p:nth-child(2) {
    width: 100%;
  }
  .vision-inner {
    flex-direction: column;
  }
  .left-vision {
    width: 100%;
    margin-bottom: 30px;
  }
  .right-vision {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .detail {
    padding: 0px 30px;
  }
  .detail-inner {
    flex-direction: column;
  }
  .left-detail {
    width: 100%;
  }
  .right-detail {
    width: 100%;
  }
  .service-wrap {
    width: 100%;
  }
  .mission {
    padding: 0px 30px;
    height: 350px;
  }
  .vision {
    padding: 30px 30px;
  }
  .background {
    height: 210px;
  }
  .visions-wrap {
    flex-direction: column;
  }
  .each-vision {
    width: 100%;
    margin-bottom: 20px;
  }
}