<section class="wrap">
  <section class="head">
    <div class="head-fixed">
      <div class="head-inner">
        <img class="logo" src="../../../../assets/newsec-logo.png" alt="Logo" title="Newsec">
        <p class="title">NEWSEC</p>
      </div>
    </div>
  </section>
  <section class="login-wrap">
    <div class="login-box">
      <div class="title-wrap">
        <p class="form-title">SIGN IN</p>
      </div>
      <div class="form-box">
        <div class="input-wrap">
          <app-login-input type="email" label="Email" name="email" [form]="this.form" placeholder="example@mail.com">
          </app-login-input>
          <div *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched)">
            <p class="error" *ngIf="formEmail.errors.required || formEmail.error">Invalid email</p>
          </div>
        </div>
        <div class="input-wrap">
          <app-login-input type="password" label="Password" name="password" [form]="this.form"
            placeholder="************">
          </app-login-input>
          <div *ngIf="formPassword.invalid && (formPassword.dirty || formPassword.touched)">
            <p class="error" *ngIf="formPassword.errors.required || formPassword.error">Invalid password</p>
          </div>
        </div>
        <div class="btn-wrap">
          <button class="btn" (click)="this.submit()">{{loading ? 'loading..' : 'SIGN IN'}}</button>
        </div>
      </div>
    </div>
  </section>
  <notifier-container></notifier-container>
</section>