p, h1, h2, h3, h4, h5, h6, span {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}
.shape-wrap {
	position: relative;
}
.row-bg-overlay {
	display: block;
	width: 100%;
}
.nectar-shape-divider-wrap {
  width: 100%;
  height: 150px;
  z-index: 3;
	transform: translateZ(0);
	background-color: #2ed397;
}
.nectar-shape-divider-wrap[data-style="fan"] svg {
	width: 100%;
}
.nectar-shape-divider {
  height: 100%;
}
.nectar-shape-divider-wrap[data-style="fan"] svg rect {
	opacity: 0.3;
}
.nectar-shape-divider-wrap[data-style="fan"] svg polygon:nth-child(2) {
	opacity: 0.15;
}
.top-head {
	background: #2ed397;
	height: 320px;
}
nav {
	background: #fff;
	height: 95px;
}
.center-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -100px;
	margin-top: 50px;
}
.center-content p:first-child {
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-weight: 800;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
}
.center-content p:nth-child(2) {
	color: #fff;
	font-size: 40px;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
}
.video-wrap {
	height: 350px;
	width: 650px;
	border-radius: 10px;
	background-color: #2ed397;
	box-shadow: 0 60px 135px rgba(0,0,0,0.14), 0 15px 65px rgba(0,0,0,0.14);
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
}
.video-wrap:hover {
	-webkit-transform: scale(1.1); 
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.video-wrap i {
	font-size: 100px;
	color: #fff;
}
.video-wrap::before {
	box-shadow: 0 60px 135px rgba(0,0,0,0.14), 0 15px 65px rgba(0,0,0,0.14);
}
.app-functions {
	padding: 0px 90px;
	box-sizing: border-box;
	transition: 0.3s;
	margin-top: 150px;
}
.inner-functions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.center-functions img {
	height: 500px;
	width: 350px;
}
.each-func {
	margin-bottom: 50px;
}
.service {
	padding: 0px 90px;
	box-sizing: border-box;
	transition: 0.3s;
	margin-top: 150px;	
}
.inner-service {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.contact-link {
	cursor: pointer;
  padding: 2px;
  width: 160px;
	height: 45px;
	border: 2px solid #2ed397;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #2ed397;
	box-sizing: border-box;
  font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.5px;
	transition: all .45s cubic-bezier(0.25,1,0.33,1);
}
.contact-link i {
	margin-left: 20px;
	margin-top: 3px;
}
.contact-link:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
}
.left-service {
	margin-top: 50px;
}
.left-service p {
	font-size: 30px;
	font-weight: 700;
	color: #313131;
	max-width: 190px;
	margin-bottom: 25px;
}
.right-service {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}
.right-service .each-service {
	width: 50%;
}
.large-image-wrap {
	padding: 0px 90px;
	box-sizing: border-box;
	transition: 0.3s;
	margin-top: 100px;
	height: 550px;
}
.large-image {
	width: 100%;
  border-radius: 2px;
  box-shadow: 0 60px 135px rgba(0,0,0,0.14), 0 15px 65px rgba(0,0,0,0.14);
	height: 100%;
	background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0, 0.7)), 
  url('../../../../assets/about.jpeg') 50% 0 no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
}
.large-image p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	width: 60%;
}
.steps {
	padding: 0px 90px;
	box-sizing: border-box;
	transition: 0.3s;
	display: flex;
	align-items: center;
	margin-top: 200px;
}
.left-step {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-step img {
	width: 260px;
	height: 500px;
}
.right-step {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.right-step .each-step.bottom {
	margin-bottom: 50px;
}
.slide {
	width: 100%;
	padding: 0px 90px;
	transition: 0.3s;
	margin-top: 200px;
	box-sizing: border-box;
}
.slide-img-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
}
.slide .img-slide {
	width: 260px;
	height: 500px;
	margin-bottom: 80px;
}
.quote {
  padding: 90px;
  padding-top: 0px;
  background-color: #fff;
  transition: 0.3s;
  display: flex;
	justify-content: center;
	margin-top: 100px;
}
.quote-inner {
  width: 100%;
  max-width: 1500px;
}
.quote p:first-child {
  color: #2ed397;
  font-size: 110px;
  font-weight: bolder;
  margin-bottom: -50px;
}
.quote p:nth-child(2) {
  letter-spacing: 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}
.quote p:nth-child(3) {
  color: #333;
  margin-top: 40px;
}
.nectar-shape-divider-wrap.bottom-shape {
	width: 100%;
  height: 150px;
  z-index: 3;
	transform: rotate(180deg);
	background-color: #2ed397;
}
.footer {
	margin-top: 0px;
}
.below-nectar-bottom {
	min-height: 300px;
	background-color: #2ed397;
	padding-bottom: 20px;
}
.below-nectar-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}
.below-nectar-bottom p {
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	max-width: 50%;
	text-align: center;
	margin-bottom: 30px;
}
.main-discover {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 14px;
  font-weight: 600;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
}
.main-discover:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #333;
}
.main-discover span {
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.download {
	padding: 0px 90px;
  background-color: #fff;
  transition: 0.3s;
  display: flex;
	justify-content: center;
}
.download a:first-child {
	margin-right: 50px;
}

@media screen and (max-width: 767px) {
	.video-wrap {
		height: 250px;
		width: 90%;
	}
	.inner-functions {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.center-functions {
		margin-bottom: 30px;
	}
	.center-content p:nth-child(2) {
		width: 90%;
	}
	.inner-service {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-link {
		margin-bottom: 20px;
	}
	.service {
		padding: 0px 20px;
		margin-top: 10px;
	}
	.left-service p {
		max-width: 190px;
	}
	.right-service {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.right-service .each-service {
		width: 100%;
	}
	.large-image-wrap {
		padding: 0px 20px;
		margin-top: 50px;
		height: 350px;
	}
	.large-image p {
		font-size: 25px;
		font-weight: 600;
		width: 80%;
	}
	.steps {
		padding: 0px 20px;
		flex-direction: column;
		margin-top: 100px;
	}
	.left-step {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.left-step img {
		width: 260px;
		height: 500px;
	}
	.right-step {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.right-step .each-step.bottom {
		margin-bottom: 50px;
	}
	.left-step {
		margin-bottom: 40px;
	}
	.slide {
		padding: 0px 0px;
		margin-top: 100px;
	}
	.quote {
		padding: 0px 20px;
		margin-top: 50px;
  }
  .download {
    background-color: #fff;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .download a:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1023px) {
	.inner-functions {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.center-functions {
		margin-bottom: 30px;
	}
	.inner-service {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-link {
		margin-bottom: 20px;
	}
	.left-service p {
		max-width: 190px;
	}
	.right-service {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.right-service .each-service {
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) and (max-height: 1366px)
    and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
    /* ... */
	.app-functions {
    padding: 0px 30px;
  }
}
