div h3 {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}
.service {
  margin-top: 15px;
}
.service i {
  font-size: 12px;
  color: #999;
  margin-right: 15px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.service span {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #999;
  font-weight: 500;
}