<div class="footer">
  <div class="socials">
    <div class="each-socials" style="margin-left: 0px;">
      <app-social icon="fab fa-twitter" title="twitter"></app-social>
    </div>
    <div class="each-socials">
      <app-social icon="fab fa-facebook-f" title="facebook"></app-social>
    </div>
    <div class="each-socials">
      <app-social icon="fab fa-linkedin-in" title="linkedin"></app-social>
    </div>
    <div class="each-socials">
      <app-social icon="fab fa-youtube" title="youtube"></app-social>
    </div>
    <div class="each-socials">
      <app-social icon="fab fa-instagram" title="instagram"></app-social>
    </div>
  </div>
  <p>© {{year}} Weandel.</p>
</div>