a {
  height: 50px;
  width: 50px;
  display: block;
  border-radius: 100%;
  transition: 0.3s;
  border: 2px solid rgba(119, 119, 119, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(119, 119, 119, 0.9);
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  border: 2px solid #3452ff;
  color: #3452ff;
}