<div class="wrap">
  <div class="cover">
    <img src="{{image}}" class="fadeIn animated" title="{{name}}">
  </div>
  <div class="detail">
    <div class="title">
      <p class="link">{{link}}</p>
      <h2>{{name}}</h2>
    </div>
    <div class="description">
      <p>{{description}}</p>
    </div>
    <a 
      [href]="url"
      target="_blank"
      class="main-discover"
      (mouseover)="hover=true"
      (mouseleave)="hover=false"
      [ngStyle]="{
        'color': hover ? '#fff' : color, 
        'border-color': border, 
        'background-color': hover ? color : 'transparent'
      }">
      <span>Visit Site</span>
    </a>
  </div>
</div>