p {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.wrap {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #f3f4f6;
}
.dash {
  width: 80%;
  max-width: 700px;
  background-color: #fff;
  border-radius: 3px;
}
.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.dash-head {
  width: 100%;
}
.green-top {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ed397;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.green-top p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.dash-body {
  padding: 20px;
  display: flex;
  align-items: center;
}
.body-left {

}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 211, 151, 0.2);
}
.profile-img i {
  color: #003366;
  font-size: 20px;
}
.body-right {
  margin-left: 20px;
}
.name {
  font-size: 13px;
  color: #003366;
  font-weight: 700;
  margin-bottom: 5px;
}
.subtitle {
  color: #003366;
  opacity: 0.4;
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 5px;
}
.member-count {
  color: #2ed397;
  font-size: 11px;
  font-weight: 700;
}
.tab-nav {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #f3f3f3;
}
.tab-nav a {
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color: #2ed397;
  transition: 0.3s;
  font-size: 11px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.tab-nav a:hover {
  background-color: rgba(46, 211, 151, 0.1);
  transition: 0.3s;
}
.board {
  display: flex;
  justify-content: center;
}
.board-inner {
  width: 80%;
  max-width: 700px;
  margin-top: 10px;
}