<section id="upp">
  <div class="header">
    <app-header navColor="#2ed397"></app-header>
  </div>
  <div class="body">
    <div class="wrap">
      <div class="left-contact fadeIn animated">
        <div class="input-wrap">
          <app-input type="text" label="Your Name" name="firstname" [input]="true" [form]="this.form">
          </app-input>
        </div>
        <div class="input-wrap">
          <app-input type="email" label="email" name="email" [input]="true" [form]="this.form">
          </app-input>
        </div>
        <div class="input-wrap top-margin">
          <app-input type="text" label="Message" name="message" [input]="false" [form]="this.form">
          </app-input>
        </div>
        <p *ngIf="!valid" class="validate">All fields are required</p>
      </div>
      <div class="right-contact">
        <h2>Let us know the issue, and we'll get it fixed</h2>
        <div class="contact">
          <p>Call us directly</p>
          <h4>+91 8105 466 984</h4>
        </div>
        <div class="contact">
          <p>Contact email</p>
          <h4>support@weandel.com</h4>
        </div>
      </div>
    </div>
    <div class="btn">
      <a class="main-discover" (click)="this.submit()">
        <span>{{status}}</span>
      </a>
    </div>
  </div>
  <section class="footer">
    <div class="shape-wrap">
      <div class="nectar-shape-divider-wrap bottom-shape" style="height:250px;" data-front="" data-style="fan"
        data-position="bottom">
        <svg class="nectar-shape-divider" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1003.92 91"
          preserveAspectRatio="none">
          <polygon class="cls-1" points="502.46 46.31 1 85.67 1 91.89 1002.91 91.89 1002.91 85.78 502.46 46.31">
          </polygon>
          <polygon class="cls-2" points="502.46 45.8 1 0 1 91.38 1002.91 91.38 1002.91 0.1 502.46 45.8"></polygon>
          <rect class="cls-3" y="45.81" width="1003.92" height="46.09"></rect>
        </svg>
      </div>
    </div>
    <div class="below-nectar-bottom">
      <p>Empowering great business, companies, organization.</p>
      <a href="#" class="footer-discover" routerLink="/newsec">
        <span>Home</span>
      </a>
    </div>
  </section>
</section>