.body {
  padding: 90px;
  width: 100%;
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-contact {
  width: 50%;
}
.right-contact {
  width: 40%;
}
.input-wrap {
  margin-bottom: 10px;
}
.top-margin {
  margin-top: 30px;
}
.right-contact h2{
  width: 70%;
  font-size: 40.8px;
  line-height: 49.3px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333333;
}
.contact {
  margin-top: 40px;
}
.contact p {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: rgba(0,0,0,0.5);
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}
.contact h4 {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.main-discover {
  position: relative;
  display: inline-block;
  color: rgb(46, 211, 151);
  border: 2px solid rgb(46, 211, 151);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 22px;
  cursor: pointer;
}
.main-discover:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: rgb(46, 211, 151);
  color: #fff;
}
.main-discover span {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.btn {
  margin-top: 20px;
}
.foot {
  margin-top: 100px;
  margin-bottom: -200px;
  display: flex;
  width: 100%;
}
.foot-btn {
  background: #ff1053;
  width: 100%;
  padding: 60px 0;
  box-shadow: 0 30px 80px rgba(0,0,0,0.14), 0 20px 70px rgba(0,0,0,0.12);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.foot-btn h3 {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.new-discover {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 14px;
  font-weight: 600;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
}
.new-discover:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #333;
}
.new-discover span {
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
.validate {
  color: red;
  font-size: 12px;
  font-weight: 600;
}
.nectar-shape-divider-wrap.bottom-shape {
	width: 100%;
  height: 150px;
  z-index: 3;
	transform: rotate(180deg);
	background-color: #2ed397;
}
.footer {
	margin-top: 0px;
}
.below-nectar-bottom {
	min-height: 300px;
	background-color: #2ed397;
	padding-bottom: 20px;
}
.below-nectar-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}
.below-nectar-bottom p {
	font-size: 40px;
	color: #fff;
	font-weight: 700;
	max-width: 50%;
	text-align: center;
	margin-bottom: 30px;
}
.shape-wrap {
	position: relative;
}
.row-bg-overlay {
	display: block;
	width: 100%;
}
.nectar-shape-divider-wrap {
  width: 100%;
  height: 150px;
  z-index: 3;
	transform: translateZ(0);
	background-color: #2ed397;
}
.nectar-shape-divider-wrap[data-style="fan"] svg {
	width: 100%;
}
.nectar-shape-divider {
  height: 100%;
}
.nectar-shape-divider-wrap[data-style="fan"] svg rect {
	opacity: 0.3;
}
.nectar-shape-divider-wrap[data-style="fan"] svg polygon:nth-child(2) {
	opacity: 0.15;
}
.footer-discover {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 14px;
  font-weight: 600;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
}
.footer-discover:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #333;
}
.footer-discover span {
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}





@media screen and (max-width: 1023px) {
  .wrap {
    flex-direction: column;
  }
  .left-contact {
    width: 100%;
  }
  .right-contact {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    padding: 30px;
  }
  .right-contact h2 {
    width: 90%;
  }
}