section {
  padding: 90px;
  width: 100%;
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-contact {
  width: 50%;
}
.right-contact {
  width: 40%;
}
.input-wrap {
  margin-bottom: 10px;
}
.top-margin {
  margin-top: 30px;
}
.right-contact h2{
  width: 70%;
  font-size: 40.8px;
  line-height: 49.3px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333333;
}
.contact {
  margin-top: 40px;
}
.contact p {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: rgba(0,0,0,0.5);
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}
.contact h4 {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}
.main-discover {
  position: relative;
  display: inline-block;
  color: #3452ff;
  border: 2px solid #3452ff;
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 22px;
  cursor: pointer;
}
.main-discover:hover {
  transform: translateY(-7px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #3452ff;
  color: #fff;

}
.main-discover span {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.btn {
  margin-top: 20px;
}
.foot {
  margin-top: 100px;
  margin-bottom: -200px;
  display: flex;
  width: 100%;
}
.foot-btn {
  background: #ff1053;
  width: 100%;
  padding: 60px 0;
  box-shadow: 0 30px 80px rgba(0,0,0,0.14), 0 20px 70px rgba(0,0,0,0.12);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.45s cubic-bezier(0.25, 1, 0.33, 1),opacity 0.45s cubic-bezier(0.25, 1, 0.33, 1);
}
.foot-btn h3 {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.new-discover {
  position: relative;
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-radius: 4px;
  transition: all .45s cubic-bezier(0.25,1,0.33,1);
  font-size: 14px;
  font-weight: 600;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
}
.new-discover:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  color: #333;
}
.new-discover span {
  transition: opacity .45s cubic-bezier(0.25,1,0.33,1),transform .45s cubic-bezier(0.25,1,0.33,1);
  transform: translateX(0);
  letter-spacing: 1px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
}
.validate {
  color: red;
  font-size: 12px;
  font-weight: 600;
}


@media screen and (max-width: 1023px) {
  .wrap {
    flex-direction: column;
  }
  .left-contact {
    width: 100%;
  }
  .right-contact {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  section {
    padding: 90px 30px;
  }
  .right-contact h2 {
    width: 90%;
  }
}