<section>
  <div class="wrap">
    <div class="left-contact fadeIn animated">
      <div class="input-wrap">
        <app-input type="text" label="Your Name" name="firstname" [input]="true" [form]="this.form">
        </app-input>
      </div>
      <div class="input-wrap">
        <app-input type="email" label="email" name="email" [input]="true" [form]="this.form">
        </app-input>
      </div>
      <div class="input-wrap top-margin">
        <app-input type="text" label="Message" name="message" [input]="false" [form]="this.form">
        </app-input>
      </div>
      <p *ngIf="!valid" class="validate">All fields are required</p>
    </div>
    <div class="right-contact">
      <h2>Reach out to have a conversation with us</h2>
      <div class="contact">
        <p>Call us directly</p>
        <h4>+1 (404) 980-7539</h4>
      </div>
      <div class="contact">
        <p>Contact email</p>
        <h4>business@weandel.com</h4>
      </div>
    </div>
  </div>
  <div class="btn">
    <a class="main-discover" (click)="this.submit()">
      <span>{{status}}</span>
    </a>
  </div>
  <div class="foot">
    <div class="foot-btn">
      <h3>Need more Service?</h3>
      <a href="#" class="new-discover" routerLink="/">
        <span>Go to homepage</span>
      </a>
    </div>
  </div>
</section>