.wrap {
  position: relative;
  width: 100%;
  transition: 0.3s;
  height: 320px;
  border-radius: 5px;
  transition: all 0.3s;
}
.wrap:hover {
  color: #fff;
  box-shadow: 0 10px 18px #f3f3f3;
}
.wrap:hover .background {
  opacity: 1;
}
.background {
  transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #2ed397;
}
.wrap:hover .absolute .content p, .wrap:hover .absolute .content h3 {
  color: #fff;
}
.wrap:hover .absolute .content i {
  color: #fff;
  background: linear-gradient(to bottom right,#fff,#fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.absolute {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  transition: 0.2s;
}
.content {
  width: 75%;
}
.absolute i {
  color: #2ed397;
  background: #2ed397;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 600;
  transition: 0.2s;
}
.absolute h3 {
  margin-top: 15px;
  color: #444;
  font-weight: lighter;
  font-size: 22px;
  transition: 0.2s;
}
.absolute p {
  color: #444;
  font-size: 15px;
  line-height: 30px;
  margin-top: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.75;
  transition: 0.2s;
}